<div class="container text-center mt-5 mb-5">
    <div class="row">
        <div class="col-4"></div>

        <div class="col-4" style="border: 1px solid;">
            <div class="row mt-4 mb-3">
                <h1>Resetting Password</h1>
            </div>
            <form [formGroup]="resetForm" (ngSubmit)="onResetSubmit()" novalidate>
                <div class="row ms-5 me-5 form-group">

                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput class="form-control" formControlName="email">

                        <mat-error *ngIf="resetForm.controls['email'].invalid">
                            {{getError('email')}}
                        </mat-error>

                    </mat-form-field>

                    <div *ngIf="invalidEmail" class="mb-3" style="text-align: left; color: red;">
                        Email does not Exist
                    </div>
                </div>

                

                <div class="row ms-5 me-5 form-group">

                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput class="form-control" formControlName="password">

                        <mat-error *ngIf="!resetForm.controls['password'].valid">
                            {{getError('password')}}
                          </mat-error>
                    </mat-form-field>

                    

                </div>

                <div class="row mt-5 ms-5 me-5 form-group">
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </div>
            </form>
            
            <div class="row mt-5"></div>
        </div>
    </div>
</div>