<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-6">
            <div class="card image-container">
                <img [src]='product.image' alt="">
            </div>
        </div>
        <div class="col-6">
            <div class="product-information">
                <div class="mt-3">
                    <h2>{{product.name}}</h2>
                </div>
                <div class="mt-3">
                    Description: <br>   
                     {{product.description}}
                </div>
                <div class="mt-3">
                    Rs. {{product.price}}
                </div>
                <div class="mt-5 text-center">
                    <button mat-raised-button color="warn" style="width: 200px; margin-right: 20px;" (click)="buyProduct()">Buy Now</button>
                    <button mat-raised-button color="warn" style="width: 200px; margin-left: 20px;" *ngIf="!inCart" (click)="addToCart(userId,product.id)">Add to Cart</button>
                    <button mat-raised-button color="warn" style="width: 200px; margin-left: 20px;" *ngIf="inCart" (click)="goToCart()">Go to Cart</button>

                </div>
            </div>
        </div>
    </div>
</div>