.product-information{
    font-size:medium;
}

.image-container{
    text-align: center;
    align-items: center;
    height: 500px;
}

img{
    text-align: center;
    align-items: center;
    height: 490px;
    width: 400px;
}